@model IEnumerable<WebApplication1.Models.DateModel>

@{
    ViewBag.Title = "ViewUSer";
}

<h2>Your Horoscope</h2>

<p>
    @Html.ActionLink("Try Again", "CalculateHoroscope")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horoscope)
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horoscope)
            </td>

        </tr>


    }

</table>
<h4>Prediction</h4>
@foreach (var item in Model)
{
    <p> @Html.DisplayFor(modelItem => item.prediction)</p>
}